<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main"><!-- wp:group {"tagName":"article","metadata":{"name":"Article"},"style":{"spacing":{"margin":{"bottom":"0"}}},"layout":{"type":"constrained","contentSize":"50rem"}} -->
<article class="wp-block-group" style="margin-bottom:0"><!-- wp:post-title /-->

<!-- wp:group {"style":{"typography":{"fontSize":"14px"},"spacing":{"blockGap":"var:preset|spacing|20","margin":{"bottom":"0"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-bottom:0;font-size:14px"><!-- wp:post-date {"isLink":true,"fontSize":"medium"} /-->

<!-- wp:paragraph -->
<p>by</p>
<!-- /wp:paragraph -->

<!-- wp:post-author {"showAvatar":false,"showBio":false} /--></div>
<!-- /wp:group -->

<!-- wp:post-featured-image /-->

<!-- wp:post-content /-->

<!-- wp:post-terms {"term":"category","prefix":"Categories: "} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","showTitle":true,"arrow":"chevron"} /-->

<!-- wp:post-navigation-link {"showTitle":true,"arrow":"chevron"} /--></div>
<!-- /wp:group --></article>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"sidebar","area":"uncategorized"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->